@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-menu-indent: 10px;
  --pte-main-color: #0079fa;
  --pronunciation-main-color:#6f42c1 ;
  --ielts-main-color: #28a745;
  --toeic-main-color: #17a2b8;
  --cll-purple-main-color: #6c757d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.courseCard {
  display: flex;
  flex-direction: column;
  .ant-card-head {
    background: rgba(0, 0, 0, 0.03) !important;
  }
  .ant-card-body{
    flex-grow: 1;
    display: flex;    
  }
  &.ant-card-hoverable{
    cursor: default !important;
  }
}
.overview{
  padding: 48px;
  color: black !important;
  .overview__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;    
  }
}
.overview--pte {
  background: radial-gradient(118.26% 99.16% at 47.42% 67.35%, #ffffff 0, var(--pte-main-color) 100%);
  color: white;
  .overview__title {
    color: var(--pte-main-color);
  }
}